@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Palanquin+Dark:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #f5f6f6;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.container .box{
    margin: 0;
    padding: 7.5%;
    color: #ffffff00;
}
.box h1{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    color: #1d1d1d;
}
.box h2{
    font-family: 'Mitr', sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    margin-bottom: 20%;
    color: #1d1d1d;
}
.box .login{
    display: block;
    text-align: center;
    width: 45%;
    padding: 10px;
    margin: auto;
    font-family: 'Mitr', sans-serif;
    font-size: 24px;
    background-color: #1428ff;
    color: #f5f6f6;
    text-decoration: none;
    border-radius: 5px;
}
.box .register{
    display: block;
    text-align: center;
    width: 45%;
    padding: 10px;
    margin: auto;
    font-family: 'Mitr', sans-serif;
    font-size: 24px;
    background-color: #8f8f8f;
    color: #f5f6f6;
    text-decoration: none;
    border-radius: 5px;
}
.box .login:hover{
    background-color: #2734c0;
}
.box .register:hover{
    background-color: #6b6b6b;
}
/*-------------------login-------------------------*/
.box .logSE{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}
.box input{
    padding: 15px;
    display: block;
    align-items: center;
    justify-content: center;
    width: 91%;
    border-radius: 5px;
    border: 0.5px solid #6b6b6b;
}
.login_button{
    width: 89%;
    position: relative;
    display: inline-flex;
    padding: 20px;
}
.login_button a{
    font-family: 'Mitr', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 48%;
    border: none;
    background-color: #1428ff;
    margin-right: 2.5%;
    text-decoration: none;
    color: #f5f6f6;
    border-radius: 5px;
}
.login_button input{
    font-family: 'Palanquin Dark', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 48%;
    border: none;
    background-color: #1428ff;
    margin-left: 2.5%;
    color: #f5f6f6;
    border-radius: 5px;
}
.login_button a:hover{
    background-color: #2734c0;
}
.login_button input:hover{
    background-color: #2734c0;
}
/*-----------register----------------------*/
table{
    width: 55%;
}
.regh1{
    font-family: 'Mitr', sans-serif;
    font-size: 38px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
h1{
    font-family: 'Mitr', sans-serif;
    font-size: 38px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
td{
    font-family: 'Mitr', sans-serif;
}
td input, td textarea{
    width: 92.5%;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    border: 0.5px solid #6b6b6b;
}
.sex{
    display: flex;
    color: #252525;
    padding: 0;
    margin: 0;
    width: 80%;
    margin-left: -170px;
}
.sex label{
    color: #252525;
    margin-left: -350px;
}
.username{
    width: 55%;
}
.username input{
    margin-right: 50px;
}
.username td{
    margin-right: -100px;
}
.reg_button{
    width: 20%;
    position: relative;
    display: inline-flex;
    padding: 20px;
}
.reg_button a{
    font-family: 'Mitr', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 48%;
    border: none;
    background-color: #1428ff;
    margin-right: 2.5%;
    text-decoration: none;
    color: #f5f6f6;
    border-radius: 5px;
}
.reg_button input{
    font-family: 'Mitr', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 48%;
    border: none;
    background-color: #1428ff;
    margin-left: 2.5%;
    color: #f5f6f6;
    border-radius: 5px;
}
.reg_button a:hover{
    background-color: #2734c0;
}
.reg_button input:hover{
    background-color: #2734c0;
}
.data{
    width: 55%;
}
.data input{
    margin-right: 200px;
}
.data td{
    margin-right: -100px;
}
.data2{
    width: 55%;
}
.data2 input{
    margin-right: 100px;
}
.data2 td{
    margin-right: -100px;
}
/*-------------home-----------------*/
h1{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    margin-bottom: -40px;
    margin-top: 100px;
}
.h1search{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    margin-bottom: -40px;
    margin-top: 50px;
}
h2{
    font-family: 'Mitr', sans-serif;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
    margin-bottom: -40px;
    margin-top: 0px;
}
.box .search{
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 30px;
    margin: 10px 10px 10px -30px;
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
    background-color: #1428ff;
    color: #f5f6f6;
    text-decoration: none;
    border-radius: 5px;
}
.box .search:hover{
    background-color: #2734c0;
}
.box .profile{
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 30px;
    margin: -30px 10px 10px -30px;
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
    background-color: #4d4d4d;
    color: #f5f6f6;
    text-decoration: none;
    border-radius: 5px;
}
.box .profile:hover{
    background-color: #313131;
}
.box .checkout{
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 30px;
    margin: -30px 10px 10px -30px;
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
    background-color: #e8fff1;
    color: #252525;
    text-decoration: none;
    border-radius: 5px;
    border: 0.5px solid #8cffba;
}
.box .checkout:hover{
    background-color: rgb(186, 238, 190);
}
/*----------------search-----------*/
.searchid{
    margin-top: 50px;
}
.searchid input{
    padding: 10px;
    border: 0.5px solid #6b6b6b;
    border-radius: 5px;
}
.searchid td{
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
}
.searchid button{
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    padding: 4px 10px 6px 10px;
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
    background-color: #1428ff;
    color: #f5f6f6;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}
.searchid button:hover{
    background-color: #2734c0;
}
/*-----------result-search--------------*/
.container .result-th{
    width: 33.33%;
    background-color: #1428ff;
    color: #f5f5f5;
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
}
.container .result-td{
    width: 33.33%;
    line-height: 50px;
}
.container .tr-th{
    margin-top: 20px;
}
.container .tr-td{
    margin-top: 20px;
}
.result-search{
    font-family: 'Mitr', sans-serif;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.back a{
    font-family: 'Mitr', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #1428ff;
    color: #f5f6f6;
    text-decoration: none;
    border-radius: 5px;
}
.back a:hover{
    background-color: #2734c0;
}



